@charset "utf-8";
/* CSS Document */
.opt2 {
	width: 950px;
	height: 130px;
	padding: 5px;
	margin-top: 0px;
	margin-left:0px;
	/*background-image:url(../images/opt_2bg.png);*/
	
	/*background: url(../images/online_blinking.gif) no-repeat;*/
}
.container2 {
	
	width:100%;
	 height:200px; 
				border:1px solid lightgray;
				margin-top:50px;

				background-image: url(../images/gif/banner12.jpg);
				-webkit-box-shadow: 10px 10px 9px 0px rgba(0,0,0,0.69);
				-moz-box-shadow: 10px 10px 9px 0px rgba(0,0,0,0.69);
				box-shadow: 10px 10px 9px 0px rgba(0,0,0,0.69);
				
				
}
.left-content{ width:300px;
				margin-left:125px; height:30px; 
				border-radius:50px 0px 50px 0px; 
				background-color:#8ABE42; 
				text-align:center; 
				
				font-style: oblique;
				}
.smc{	font-size:18px; 
				height:35px; 
				padding-top:5px;								
				position:relative;
				color:#FFF;
				}
.slc {
	margin: 5px 0 0 10px;
	float: left
}
.con {
	width: 135px;
	height: 73px;

	padding: 10px;
	margin: 0px 0 0 8px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: underline;
	float: left;
	border-radius: 5px;
	text-align: center;
	color: #800000;
	box-shadow: 0 0 0 4px#FF8C00;
}
.sin {
	margin: 0px 0 0 36px;
	margin-bottom: 50px;
	float: left;
	text-align: center;
	text-shadow: 0 1px 1px #000;
	color: #000;
	width:100px;
	height:70px;
	border-radius: 0px 50px 0px 50px;
	
	background-color:#8ABE42;
	/*background-image:url(../images/logo.png);*/
	
}
.s2{
		margin-top:20px;
		color: #FFF;		 
		font-style: oblique;
				}
.sup {
	margin: 0px 0px 0px 4px;
	float: left;
	color:#000;
	text-align: center;
	text-shadow: 0 1px 1px #000;
	color: #FFF;
	width:100px;
	height:70px;
	border-radius: 50px 0 50px 0px;
	
	background-color:#F53C00;
}
.sin a {
	font-size: 16px;
	color: #FFF;
}
.sup a {
	font-size: 16px;
	/*color: rgba(248,248,248,1.00)*/
	color:#FFF;
}
.a_head {
	width: 550px;
	margin: 0 auto;
	padding: 30px 0 10px 0
}
.f_a2 {
	color:#FFF;
	font-size: 12px
}
label {
	font-size: 14px;
	margin: 0 70px 0 5px
}
.options {
	width: 945px;
	height: 200px;
	margin-top: 30px;
	padding-left: 3px;
	background: url(imges/gif/1.gif);
	border-radius: 0 0 10px 10px;
	-webkit-box-shadow: 0 5px 6px -5px #ebebeb;
	-moz-box-shadow: 0 5px 6px -5px #ebebeb;
	box-shadow: 0 5px 6px -3px #acacac;
	border: 4px solid #c7c8c9;
}
.country{
	border-radius: 10px 10px;
	-webkit-box-shadow: 0 5px 6px -5px #800;
	-moz-box-shadow: 0 5px 6px -5px #800;
	box-shadow: 0 5px 6px -3px #800;
	border: 4px solid #FF8C00;
}
.input_sm[type=text]{margin: 0px;
			width:80px;
			height:30px;
		padding: 0px;
		
		border: 4px solid #FF8C00;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		
		-webkit-box-shadow: 0 5px 6px -5px #800;
	-moz-box-shadow: 0 5px 6px -5px #800;
	box-shadow: 0 5px 6px -3px #800;	
	}
	
select {
	width: 160px;
	padding: 4px 0 6px 10px;
	margin: 5px 0 50 2px;
	border: 1px solid #ebebeb;
	border-radius: 5px;
	text-align: center;
	box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
	background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ccc));
	background-image: linear-gradient(#fff, #ccc)
}
.select {
	width: 70px;
	padding: 4px 0 6px 0px;
	margin: 5px 0 0 2px;
	border-radius: 10px 10px;
	-webkit-box-shadow: 0 5px 6px -5px #800;
	-moz-box-shadow: 0 5px 6px -5px #800;
	box-shadow: 0 5px 6px -3px #800;
	border: 4px solid #FF8C00;

}
input {
	    width: 70px;
		padding: 6px;
		margin: 5px 0 0 2px;
		border: 1px solid #ebebeb;
		border-radius: 3px;
		box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
		background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ccc));
		background-image: linear-gradient(#fff, #ccc);
		clear: both;
}
.clearfix {
	clear: both
}
/*.clear:before,
	.clear:after{
		content:"";
		display:table;
	}
	.clear:after{
		clear:both;
	}*/
 

/*.form-style-10{
    width:100%;
    padding:10px;
    margin:0px auto;
    background: #FFF;
    border-radius: 0px;
    
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}
.form-style-10 .inner-wrap{
    padding: 0px;
    background: #F8F8F8;
    border-radius: 0px;
    margin-bottom: 5px;
	width:60%;
	margin:0px auto;
}*/

/**/

